*{
    margin:0px;
    padding:0px;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
.main_box{
    background-image: url("photo.jpg");
    height:100vh;
    background-size: cover;
}
.btn_one i{
    color:white;
    font-size:30px;
    font-weight:700;
    position:absolute;
    left:16px;
    line-height: 60px;
    transition:all 0.3s linear;
}
.sidebar_menu{
    position:fixed;
    left:-350px;

    height:100vh;
    width:300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition:all 0.3s linear;
}
.sidebar_menu .logo{
    position :absolute;
    line-height :60px;
    width :100%;
    box-shadow : 0 2px 4px rgba(255,255,255,0.5);
    height:60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left:50px;
    color:white;
    text-decoration: none;
    font-size:20px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal; 
}
.sidebar_menu .btn_two i{
    line-height:60px;
    font-size:20px;
    color: grey;
    position:absolute;
    left:275px;
    /* opacity: 0; */
    cursor:pointer;
}
.btn_two i:hover{
    font-size:25px;
}
.sidebar_menu .menu{
    position:absolute;
    color:white;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    padding:14px 20px;
    margin-top:6px;
    
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size:20px;

}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position:absolute;
    left:25%;
    bottom:50px;
}
.sidebar_menu .social_media i{
    padding:0px 5px;
    opacity:0.5;
    color:white;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.5);
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
}
#check:checked ~.sidebar_menu{
    left:0;
}
.btn_one i:hover{
    font-size:35px;
}
#check:checked ~ .btn_one i{
    opacity:0;
}
